header {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
}

.text-primary {
    color: #5960f3 !important;
    
}

a {
    color: white !important;
}

a:hover {
    color: rgba(255, 255, 255, 0.664);
}

.bg-primary {
    background-color: #5960f3 !important;
}

.home-image {
    width: 500px;
    height: 250px;
    object-fit: cover;
    border-radius: 10% !important;
}